!!!
%html
  %head
    %title FFS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{ src: "//code.jquery.com/jquery-3.2.1.slim.min.js", integrity: "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin: "anonymous" }
    %script{ src: "//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity: "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin: "anonymous" }
    %script{ src: "//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity: "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin: "anonymous" }
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      %a.navbar-brand{href: '/' }
        FFS
      %button.navbar-toggler{type:"button", 'data-toggle': "collapse", 'data-target': "#navbarNavAltMarkup", 'aria-controls': "navbarNavAltMarkup", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
        %span.navbar-toggler-icon
    %div.container-fluid
      %div.row
        %nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
          %ul.nav.nav-pills.flex-column
            %li.nav-item
              =link_to 'メンバー一覧', users_index_path, { class: 'nav-link' }
              =link_to 'FFSについて', infos_index_path, { class: 'nav-link' }
          %hr
        %main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-4
          -flash.each do |type, msg|
            %div{class: "alert alert-#{type}"}= msg

          = yield
