- # デフォルト
- # 削除列を用意
- use_remove = defined?(use_remove) ? use_remove : false;
- # ストレス表示
- use_stress = defined?(use_stress) ? use_stress : false;
- # 平均 team 必須
- use_average = defined?(use_average) ? use_average : false;

%table.table.table-hover
  %thead
    %tr
      %th 名前
      %th A: 凝縮性
      %th B: 受容性
      %th C: 弁別性
      %th D: 拡散性
      %th E: 保全性
      %th 91 Type
      %th= link_to "4 Type", infos_index_path(anchor: "4_type")
      - if use_stress
        %th ストレス
        %th ストレス履歴
      - if use_remove
        %th 削除
  %tbody
    - @members.each do |member|
      %tr
        %td
          = member.name
          %br
          %span.sub= (member.email)
        =render 'members/ffs_point', name: 'A', type_name: member.member_ffs["91_type"], point: member.member_ffs.a
        =render 'members/ffs_point', name: 'B', type_name: member.member_ffs["91_type"], point: member.member_ffs.b
        =render 'members/ffs_point', name: 'C', type_name: member.member_ffs["91_type"], point: member.member_ffs.c
        =render 'members/ffs_point', name: 'D', type_name: member.member_ffs["91_type"], point: member.member_ffs.d
        =render 'members/ffs_point', name: 'E', type_name: member.member_ffs["91_type"], point: member.member_ffs.e
        %td= member.member_ffs['91_type']
        %td= member.member_ffs['4_type']
        - if use_stress

          %td
            %span.main
              =render 'members/ffs_stress_point', point: member.member_stresses.first.point
            %span.sub= '[ ' + member.member_stresses.first.diagnostic_at.strftime('%Y年%m月') + ' ]'
          %td
            %ul.stresses
              - member.member_stresses.each do |stress|
                %li
                  %span.main
                    =render 'members/ffs_stress_point', point: stress.point
                  %span.sub= '[ ' + stress.diagnostic_at.strftime('%Y年%m月') + ' ]'
        - if use_remove
          %td
            =link_to '/team_members/' + String(member.team_member(@team.id).id) + '/delete', onclick: "return confirm('削除して良いですか？')" do
              %span.glyphicon.glyphicon-trash{"aria-hidden": "true"}
    - if use_average
      %tr
        %td 平均
        %td= team.a_avg
        %td= team.b_avg
        %td= team.c_avg
        %td= team.d_avg
        %td= team.e_avg
        %td
        %td
        - if @is_manager
          %td= team.stress_avg
          %td
        - if use_remove
          %td
